.badges-list .badge-nfg_access_lvl {
    background-color: #FAB60F;
    border: solid 1px #D58D8D;
}

.badges-list .badge-nfg_access_lvl:before {
    content: "NFG";
}

.badges-list .badge-voter_registration {
    background-color: #C3EC87;
    border: solid 1px #A0BBA6;
}

.badges-list .badge-voter_registration:before {
    content: "TSE";
}
